<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI News</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">AI News</div>
      </header>

      <div class="daily-news">
        <h2 class="glow">📰 News Report</h2>
        <p class="subtitle">최신 기술로 제공되는 뉴스 리포트</p>
      </div>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="뉴스 검색..." />
        <button id="search-button">검색 🔎</button>
      </div>
      <div id="result" class="newspaper">
        <h2 id="report-title" class="newspaper-headline"></h2>
        <div id="main-text" class="newspaper-content"></div>
        <div class="newspaper-columns">
          <div class="newspaper-column">
            <h3 class="newspaper-subheadline">관련 산업</h3>
            <ul id="relate" class="newspaper-text"></ul>
          </div>
          <div class="newspaper-column">
            <h3 class="newspaper-subheadline">인사이트</h3>
            <ul id="oracle" class="newspaper-list"></ul>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
  </body>
</html>
